@import "variables";

//AppBody
.app.adulto {
    font-family: $font-family-franklin-adulto;
	font-size: $font-size-adulto;
	letter-spacing: $letter-spacing-adulto;

    $primary: $primary-color-adulto;
	$table-hover-bg: $light-color-adulto;
	@import 'bootstrap/scss/bootstrap';
}

//Sidenav
.nav.adulto {
    background-color: $primary-color-adulto;
    color: $gray-50;
    box-shadow: 0 0 4px $gray-700;
    font-family: $font-family-franklin-adulto;
	font-size: $font-size-adulto;
	letter-spacing: $letter-spacing-adulto;
}

.nav__body.adulto::-webkit-scrollbar-thumb {
    background-color: $scroll-color-adulto;
}

.nav__body__items {
    & a.adulto {
        color: $gray-50;

        &:hover {
            background-color: $primary-hover-color-adulto;
        }
    }
}

.nav__body__items__active.adulto {
    background-color: $primary-hover-color-adulto;
}

//ShowData
.form-group {
	&__title.adulto {
		color: $primary-color-adulto;
	}

	&__description.adulto {
		color: $primary-color-adulto;
		box-shadow: 0 0 4px $primary-color-adulto;
	}
}