@import "variables";

//AppBody
.app.nino {
    font-family: $font-family-gill-nino;
	font-size: $font-size-nino;
	letter-spacing: $letter-spacing-nino;

    $primary: $primary-color-nino;
	$table-hover-bg: $light-color-nino;
	@import 'bootstrap/scss/bootstrap';
}


//Sidenav
.nav.nino {
    background-color: $primary-color-nino;
    color: $gray-50;
    box-shadow: 0 0 4px $gray-700;
    font-family: $font-family-gill-nino;
	font-size: $font-size-nino;
	letter-spacing: $letter-spacing-nino;
}

.nav__body.nino::-webkit-scrollbar-thumb {
    background-color: $scroll-color-nino;
}

.nav__body__items {
    & a.nino {
        color: $gray-50;

        &:hover {
            background-color: $primary-hover-color-nino;
        }
    }
}

.nav__body__items__active.nino {
    background-color: $primary-hover-color-nino;
}

//ShowData
.form-group {
	&__title.nino {
		color: $primary-color-nino;
	}

	&__description.nino {
		color: $primary-color-nino;
		box-shadow: 0 0 4px $primary-color-nino;
	}
}