@import 'variables';

.form-group {
	margin-bottom: 1rem;
	font-size: inherit;
	
	&__title {
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
		color: $green-800
	}

	&__description {
		display: inline-block;
		font-weight: 400;
		padding: 2px 10px;
		margin: 5px;
		border-radius: 2px;
		color: $gray-800;
		box-shadow: 0 0 4px $green-800;
		width: 100%;
	}
}